
@import "ui-variables";
@import "syntax-variables";


@inlineBorderRadius: 2px;

.message-style {
  // background-color: #9da5b4;
  background-color: @syntax-text-color;
  color: fadein(@syntax-background-color, 100%);
  padding: 6px 6px;
  border-radius: @inlineBorderRadius;
  white-space: pre;
  opacity: 0;
  .badge {
    &:first-letter {
      text-transform: capitalize;
    }
    // overflow: hidden;
    padding: 4px 6px;
    border-radius: @inlineBorderRadius;
    margin-right: 10px;
    
    color: fadein(@syntax-background-color, 100%);
    text-shadow: none;
    border-width: 1px;
    border-style: solid;

    &.severity-info {
      background-color: @background-color-info;
      border-color: darken(@background-color-info, 10%);
    }
    &.severity-warning {
      background-color: @background-color-warning;
      border-color: darken(@background-color-warning, 10%);
    }
    &.severity-error {
      background-color: @background-color-error;
      border-color:  darken(@background-color-error, 10%);
    }
    &.severity-suggestion {
      background-color: @background-color-success;
      border-color:  darken(@background-color-success, 10%);
    }
  }
  .message {
    display: inline-block;
  }
  &.is-selected {
    opacity: 1;
  }
  &.is-right {
    position: relative;
    margin-left: 25px;
  }
}

#inline-message {
  .message-style();
  &.style-code {
    font-family: Courier;
    color: blue;
  }
}

#inline-suggestion {
  .message-style();
  .suggested {
    position:relative;
    
    margin-left: -6px;
    margin-right: -7px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: -10px;
    // margin-top: 10px;
    // margin-bottom: 10px;
    font-family: Courier;
    white-space: pre;
    // border: 1px solid #AAA;
    // border-bottom:1px solid #AAA;
    border-left-width: 0;
    background-color: #CCC;

    background-color: fade(@syntax-background-color, 20%);
    // background-color: @syntax-result-marker-color;
    color: @syntax-background-color;

    border-bottom-right-radius: @inlineBorderRadius;
    border-bottom-left-radius: @inlineBorderRadius;



  }
  .message {
    display: block;
    margin-top: 10px;
  }
  .keyboard-shortcut-reminder {
    background-color:#CCC;
    border-top-right-radius: @inlineBorderRadius;
    border-bottom-right-radius: @inlineBorderRadius;
    padding: 3px 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: -8px;
    border: 1px solid #AAA;
    border-left-width: 0;

    .kbd {
      font-style: italic;
    }
  }
}



@unselectedFade: 10%;
@selectedFade: 50%;
atom-text-editor::shadow .highlights .inline-message-selection-highlight {
  .region {
    background-color: @background-color-highlight;
  }
  &.is-selected {
    &.severity-info {
      .region {
        background-color: fade(@background-color-info, @selectedFade);
      }
    }
    &.severity-warning {
      .region {
        background-color: fade(@background-color-warning, @selectedFade);
      }
    }
    &.severity-error {
      .region {
        background-color: fade(@background-color-error, @selectedFade);
      }
    }
    &.severity-suggestion {
      .region {
        background-color: fade(@background-color-success, @selectedFade);
      }
    }
  }
  &.severity-info {
    .region {
      background-color: fade(@background-color-info, @unselectedFade);
    }
  }
  &.severity-warning {
    .region {
      background-color: fade(@background-color-warning, @unselectedFade);
    }
  }
  &.severity-error {
    .region {
      background-color: fade(@background-color-error, @unselectedFade);
    }
  }
  &.severity-suggestion {
    .region {
      background-color: fade(@background-color-success, @unselectedFade);
    }
  }
}

atom-text-editor::shadow .inline-message-gutter .icon-right {
  visibility: visible;
  &::before {
    content: "!";
    color: fadein(@syntax-gutter-background-color, 100%);
    font-size: 0.85em;
    font-weight: bold;
    background-color: @background-color-info;
    border-radius: 5.5px;
    padding-left: -2px;
    width: 11px;
    height: 11px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 12px;
    position: relative;
    top: -1px;
  }
  
}

atom-text-editor::shadow .inline-message-gutter {
  &.severity-info {
     .icon-right {
        &::before {
            background-color: @background-color-info;
        }
      }
  }
  &.severity-warning {
     .icon-right {
        &::before {
            background-color: @background-color-warning;
        }
      }
  }
  &.severity-error {
     .icon-right {
        &::before {
            background-color: @background-color-error;
        }
      }
  }
  &.severity-suggestion {
     .icon-right {
        &::before {
            content: "?";
            background-color: @background-color-success;
        }
      }
  }

 
}


