
@import "ui-variables";



.line-adjust(@i){
   top:(@component-line-height - 4px)*@i;
}

.message-style {
  background-color: #DDD;
  color: #222;
  padding: 2px 5px;
  border-radius: 3px;
  white-space: pre;
  .badge {
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 5px;
    &.severity-info {
      background-color: @background-color-info;
    }
    &.severity-warning {
      background-color: @background-color-warning;
    }
    &.severity-error {
      background-color: @background-color-error;
    }
    &.severity-suggestion {
      background-color: @background-color-success;
    }
  }
  .message {
    display: inline-block;
  }
  &.is-right {
    position: relative;
    margin-left: 25px;
    &.up-0 {
      .line-adjust(-1);
    }
    &.up-1 {
      .line-adjust(-2);
    }
    &.up-2 {
      .line-adjust(-3);
    }
    &.up-3 {
      .line-adjust(-4);
    }
    &.up-4 {
      .line-adjust(-4);
    }
    &.up-5 {
      .line-adjust(-5);
    }
  }
}

#inline-message {
  .message-style();
  &.style-code {
    font-family: Courier;
    color: blue;
  }
}

#inline-suggestion {
  .message-style();
  .suggested {
    font-family: Courier;
    white-space: pre;
  }
}

atom-text-editor::shadow .highlights .inline-message-selection-highlight {
  .region {
    background-color: #555;
  }
}

atom-text-editor::shadow .inline-message-gutter .icon-right {
  visibility: visible;
  &::before{
    content: "!";
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    background-color: @background-color-info;
    border-radius: 7.5px;
    padding-left: -2px;
    width: 15px;
    height: 15px;
    margin-left: -2px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 15px;

  }
  
}

atom-text-editor::shadow .inline-message-gutter {
  &.severity-info {
     .icon-right {
        &::before {
            background-color: @background-color-info;
        }
      }
  }
  &.severity-warning {
     .icon-right {
        &::before {
            background-color: @background-color-warning;
        }
      }
  }
  &.severity-error {
     .icon-right {
        &::before {
            background-color: @background-color-error;
        }
      }
  }
  &.severity-suggestion {
     .icon-right {
        &::before {
            content: "?";
            background-color: @background-color-success;
        }
      }
  }

 
}


