
@import "ui-variables";
@import "syntax-variables";


@inline-border-radius: 0px;
@inline-text-color: @syntax-background-color;
@inline-bg-color: @syntax-text-color;
@inline-badge-text-color: @syntax-background-color;


.arrow_left {
  position: relative;
  &:after {
    right: 100%;
    top: 0%;
    border-style: solid;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-width: 0 10px 10px 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;

  }
}


.arrow_up {
  position: relative;
  &:after {
    left: 0px;
    top: -10px;
    border-style: solid;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-width: 10px 0 0 10px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;

  }
}

.shrink-wrap {
  width:0px;
  height:0px;
}


.message-with-severity(@color) {
  border-top: 4px solid darken(@color, 10%);
  background-color: average(@color, @inline-bg-color);
  &:after {
    border-color: @color;
  }
  // border-color: darken(@color, 10%);
  .badge {
    background-color: average(@color, @inline-text-color);
  }
  .trace {
    background-color: average(average(@color, @inline-bg-color), @inline-bg-color);
  }
}

inline-message {
  background-color: @inline-bg-color;
  color: @inline-text-color;

  padding: 2px 8px;
  border-radius: @inline-border-radius;
  white-space: pre;
  display: none;
  box-shadow: none;
  .message {
    display: inline-block;
  }
  .badge {
    display:none;
    text-shadow: none;
    // Colors are flipped for badges
    background-color: @inline-text-color;
    color: @inline-bg-color;
    padding: 4px 6px;
    border-radius: 2px;
    margin: 2px 8px;
    margin-left: 0;
  }
  &.show-badge {
    .badge {
      display: inline-block;
    }
  }

  &:after {
    border-color: @inline-bg-color;
  }
  &.severity-info { .message-with-severity(@background-color-info); }
  &.severity-warning {.message-with-severity(@background-color-warning); }
  &.severity-error { .message-with-severity(@background-color-error);  }
  &.severity-suggestion { .message-with-severity(@background-color-success); }
  &.is-selected {
    display:inline-block;
  }
  &.is-right {
    position: relative;
    margin-left: 35px;
    .arrow_left();
  }
  &.is-below {
    position: relative;
    margin-top: 8px;
    margin-left: 3px;
    .arrow_up();
    &.indentation-correction {
      margin-left: 10px;
    }
    &.empty-lastline-correction {
      margin-top: -10px;
    }
  }

  .trace-link {
    display: block;
    margin-left: 20px;
    color: average(@background-color-info, @inline-text-color);
  }
  &.inline-suggestion {
    .suggested {
      position:relative;

      margin-left: -6px;
      margin-right: -7px;
      padding-left: 6px;
      padding-right: 6px;

      padding-top: 5px;
      padding-bottom: 5px;

      font-family: Courier;
      white-space: pre;
      border-left-width: 0;

      margin-top: 5px;
      margin-bottom: 5px;

      background-color: fade(@inline-bg-color, 70%);
      color: @inline-text-color;

      border-bottom-right-radius: @inline-border-radius;
      border-bottom-left-radius: @inline-border-radius;

    }
    .keyboard-shortcut-reminder {
      font-style: italic;
      font-weight: normal;
      font-size: 0.8em;
    }

  }
}



@unselectedFade: 10%;
@selectedFade: 50%;
.small-snippet(@color){
  .region {
    border-bottom: 1px dashed @color;
    border-left: none;
  }
}
.small-snippet-selected(@color){
  .region {
    background-color: fade(@color, @selectedFade);
    border-bottom: 1px dashed @color;
  }
}
//
// .inline-highlight {
//
// }


// Inline highlight and underline
atom-text-editor::shadow .highlights .inline-message-selection-highlight {
  // .region {
  // }
  &.is-small-snippet {
    .small-snippet(@inline-bg-color);

    &.severity-info { .small-snippet(@background-color-info); }
    &.severity-warning { .small-snippet(@background-color-warning); }
    &.severity-error { .small-snippet(@background-color-error); }
    &.severity-suggestion { .small-snippet(@background-color-success); }
    &.is-selected {
      &.severity-info {.small-snippet-selected(@background-color-info);}
      &.severity-warning {.small-snippet-selected(@background-color-warning);}
      &.severity-error {.small-snippet-selected(@background-color-error);}
      &.severity-suggestion {.small-snippet-selected(@background-color-success);}
    }
  }
}




// ---------------------------------
// Multiline message, line decoration
// ----------------------------------

@lineFade: 15%;
.line-idle(@color) {
  padding-left: 8px;
  margin-left: -10px;
  border-left: 2px dashed darken(@color, 10%);
}

.line-selected(@color) {
  background-color: fade(@color, @lineFade);
}

// This class name mangling is because atom doesnt accept multiple classes per a line decoration
atom-text-editor::shadow  .inline-message-multiline-highlight {
  .line-idle(@inline-bg-color);
}
atom-text-editor::shadow  .inline-message-multiline-highlight-is-selected {
  .line-idle(@inline-bg-color);
  .line-selected(@inline-bg-color);
}

atom-text-editor::shadow  .inline-message-multiline-highlight-severity-info {
  .line-idle(@background-color-info);
}
atom-text-editor::shadow  .inline-message-multiline-highlight-severity-info-is-selected {
  .line-idle(@background-color-info);
  .line-selected(@background-color-info);
}
atom-text-editor::shadow  .inline-message-multiline-highlight-severity-warning {
  .line-idle(@background-color-warning);
}
atom-text-editor::shadow  .inline-message-multiline-highlight-severity-warning-is-selected {
  .line-idle(@background-color-warning);
  .line-selected(@background-color-warning);
}
atom-text-editor::shadow  .inline-message-multiline-highlight-severity-error {
  .line-idle(@background-color-error);
}
atom-text-editor::shadow  .inline-message-multiline-highlight-severity-error-is-selected {
  .line-idle(@background-color-error);
  .line-selected(@background-color-error);
}
atom-text-editor::shadow  .inline-message-multiline-highlight-severity-suggestion {
  .line-idle(@background-color-success);
}
atom-text-editor::shadow  .inline-message-multiline-highlight-severity-suggestion-is-selected {
  .line-idle(@background-color-success);
  .line-selected(@background-color-success);
}



// ---------------------------------
// Animation for accepting a suggestion
// ----------------------------------

atom-text-editor::shadow .highlights .inline-replacement-flash {
  .region {
    transition: background-color 0.5s ease-in-out;
    background-color: @background-color-warning;
  }
  &.flash-on {
    .region {
      background-color: transparent;
    }
  }
}
